<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993175523207-3i62h5soo163sgrhn5sr9c356146jtaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993175523207-3i62h5soo163sgrhn5sr9c356146jtaa</string>
	<key>API_KEY</key>
	<string>AIzaSyAUbLU8FCK8o82o0fjVAEPoLfbhrZUxJBY</string>
	<key>GCM_SENDER_ID</key>
	<string>993175523207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterchatbox</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-learning-82a35</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-learning-82a35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993175523207:ios:76648787b9e77363a34d22</string>
</dict>
</plist>